.logo {
    width: 150px;
}

.brand-name {
        font-family: sans-serif;
        font-size: 55px;
        color: #7e9cff;
        margin: 0;
        font-weight: lighter;
}

.cla1 {
    display: flex;
    place-self: center;
    text-decoration: none;
}

body {background-color: rgb(231, 255, 254) ;}

.menu {
margin-left: 20px;
margin-top: 8px;
}

.menu * {
    margin: 0;
    padding: 0;
}

.menu ul,
.menu ol {
    list-style:none;    
}

.menu ul {
    display: flex;
}

.menu > ul li a{
    display: block;
    background:#7e9cffee;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-weight: bold;
}

.menu > ul li {
    position: relative;
    border-right: 1px solid  gray;
}

.menu > ul li:first-child {
    border-left: 1px solid gray;
}

.menu > ul li:last-child {
    border-right: 1px solid gray;
}

.menu li a:hover {
    background:#4671ffee;
    color: lightskyblue;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

.menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}

.menu li > ul li{
    border: 1px solid gray;
   }
.menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #7e9cffee;
   }

.menu li:hover > ul{
    display: block; 
   }

   .row {
    display: flex;
   }

.icon-call {
    width: 30px;
    margin-left: 20px;
    margin-top: 8px;
}

.ss-a-12 {
    margin-left: 9px;
}

.call-me {
    margin-left: 25px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #7e9cffee;
    
}

.tel1 {
    text-decoration: none;
    color: #7e9cffee;

}

.tel2 {
    text-decoration: none;
    color: #7e9cffee;
}

div {
    display: block;
}

html {
    line-height: 1.428571429;
}
